.myCard-img {
    align-self: center;

    max-width: inherit;
    height: auto;
}
.myBody {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}